Repository microsoft/edge-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @nguyena2, @auyidi1, @EliiseS, @azurecloudkevin, @druttka

Merged PR 527: (feat) Add instructions for using edge-ai tools in personal repositories
  README.md
  package.json
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi

Merged PR 521: fix(fabric): refactor capacity source, add capacity admin support, lakehouse naming and validation
  blueprints/fabric/README.md
  blueprints/fabric/terraform/README.md
  blueprints/fabric/terraform/main.tf
  blueprints/fabric/terraform/variables.tf
  blueprints/fabric/terraform/versions.tf
  src/000-cloud/031-fabric/README.md
  src/000-cloud/031-fabric/ci/terraform/main.tf
  src/000-cloud/031-fabric/ci/terraform/variables.tf
  src/000-cloud/031-fabric/terraform/README.md
  src/000-cloud/031-fabric/terraform/main.tf
  src/000-cloud/031-fabric/terraform/modules/capacity/README.md
  src/000-cloud/031-fabric/terraform/modules/capacity/variables.tf
  src/000-cloud/031-fabric/terraform/variables.tf
Owners: @WilliamBerryiii, @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 521: fix(fabric): refactor capacity source, add capacity admin support, lakehouse naming and validation
  blueprints/fabric/README.md
  blueprints/fabric/terraform/README.md
  blueprints/fabric/terraform/main.tf
  blueprints/fabric/terraform/variables.tf
  blueprints/fabric/terraform/versions.tf
  src/000-cloud/031-fabric/README.md
  src/000-cloud/031-fabric/ci/terraform/main.tf
  src/000-cloud/031-fabric/ci/terraform/variables.tf
  src/000-cloud/031-fabric/terraform/README.md
  src/000-cloud/031-fabric/terraform/main.tf
  src/000-cloud/031-fabric/terraform/modules/capacity/README.md
  src/000-cloud/031-fabric/terraform/modules/capacity/variables.tf
  src/000-cloud/031-fabric/terraform/variables.tf
Owners: @WilliamBerryiii, @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 523: trigger broker replacement on mqtt_broker_config changes
  src/100-edge/110-iot-ops/terraform/modules/iot-ops-instance/main.tf
Owners: @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 528: feat(tools): add AIO Sidekick NL assistant for ops plan in readme
  .cspell-dictionary.txt
  .github/instructions/markdown.instructions.md
  docs/_sidebar.md
  src/900-tools-utilities/902-aio-sidekick/README.md
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @druttka, @auyidi1, @EliiseS

Merged PR 528: feat(tools): add AIO Sidekick NL assistant for ops plan in readme
  .cspell-dictionary.txt
  .github/instructions/markdown.instructions.md
  docs/_sidebar.md
  src/900-tools-utilities/902-aio-sidekick/README.md
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @druttka, @auyidi1, @EliiseS

Merged PR 535: feat(prompts): add Workback chatmode for workback schedule planning
  .github/chatmodes/README.md
  .github/chatmodes/Workback.chatmode.md
  docs/_sidebar.md
Owners: @agreaves-ms, @WilliamBerryiii, @auyidi1, @EliiseS

Merged PR 535: feat(prompts): add Workback chatmode for workback schedule planning
  .github/chatmodes/README.md
  .github/chatmodes/Workback.chatmode.md
  docs/_sidebar.md
Owners: @agreaves-ms, @WilliamBerryiii, @auyidi1, @EliiseS

Merged PR 537: fix(iot-ops): align customer-managed configmap name
  src/100-edge/110-iot-ops/terraform/main.tf
Owners: @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 533: feat(prompts): add TDD agents and planner/researcher handoffs
  .github/agents/tdd-green.agent.md
  .github/agents/tdd-red.agent.md
  .github/agents/tdd-refactor.agent.md
  .github/chatmodes/task-planner.chatmode.md
  .github/chatmodes/task-researcher.chatmode.md
Owners: @agreaves-ms, @WilliamBerryiii

Merged PR 533: feat(prompts): add TDD agents and planner/researcher handoffs
  .github/agents/tdd-green.agent.md
  .github/agents/tdd-red.agent.md
  .github/agents/tdd-refactor.agent.md
  .github/chatmodes/task-planner.chatmode.md
  .github/chatmodes/task-researcher.chatmode.md
Owners: @agreaves-ms, @WilliamBerryiii

Merged PR 524: MQTT to OpenTelemetry Trace Exporter
  src/500-application/504-mqtt-otel-trace-exporter/.env
  src/500-application/504-mqtt-otel-trace-exporter/README.md
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/Chart.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/sample.values.vm.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/templates/_helpers.tpl
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/templates/configmap.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/templates/deployment.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/templates/secret.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/templates/service.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/templates/serviceaccount.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/values.yaml
  src/500-application/504-mqtt-otel-trace-exporter/docker-compose.yml
  src/500-application/504-mqtt-otel-trace-exporter/docs/README.md
  src/500-application/504-mqtt-otel-trace-exporter/resources/mosquitto.conf
  src/500-application/504-mqtt-otel-trace-exporter/resources/otel-collector-config.yaml
  src/500-application/504-mqtt-otel-trace-exporter/resources/prometheus.yml
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/.cargo/config.toml
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/Cargo.lock
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/Cargo.toml
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/Dockerfile
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/config.rs
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/correlation.rs
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/health.rs
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/logging.rs
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/main.rs
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/mqtt_client.rs
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/tracing.rs
Owners: @nguyena2, @agreaves-ms, @WilliamBerryiii

Merged PR 524: MQTT to OpenTelemetry Trace Exporter
  src/500-application/504-mqtt-otel-trace-exporter/.env
  src/500-application/504-mqtt-otel-trace-exporter/README.md
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/Chart.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/sample.values.vm.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/templates/_helpers.tpl
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/templates/configmap.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/templates/deployment.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/templates/secret.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/templates/service.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/templates/serviceaccount.yaml
  src/500-application/504-mqtt-otel-trace-exporter/charts/mqtt-otel-trace-exporter/values.yaml
  src/500-application/504-mqtt-otel-trace-exporter/docker-compose.yml
  src/500-application/504-mqtt-otel-trace-exporter/docs/README.md
  src/500-application/504-mqtt-otel-trace-exporter/resources/mosquitto.conf
  src/500-application/504-mqtt-otel-trace-exporter/resources/otel-collector-config.yaml
  src/500-application/504-mqtt-otel-trace-exporter/resources/prometheus.yml
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/.cargo/config.toml
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/Cargo.lock
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/Cargo.toml
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/Dockerfile
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/config.rs
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/correlation.rs
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/health.rs
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/logging.rs
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/main.rs
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/mqtt_client.rs
  src/500-application/504-mqtt-otel-trace-exporter/services/mqtt-otel-trace-exporter/src/tracing.rs
Owners: @nguyena2, @agreaves-ms, @WilliamBerryiii

Merged PR 541: refactor(terraform): remove site MQTT endpoint and clean secret-provider-class
  blueprints/dual-peered-single-node-cluster/terraform/modules/mqtt-configuration/main.tf
  blueprints/dual-peered-single-node-cluster/terraform/modules/mqtt-configuration/outputs.tf
  blueprints/dual-peered-single-node-cluster/terraform/modules/secret-provider-class/main.tf
Owners: @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 545: feat(build): add PR target routing to dev branch
  .azuredevops/pull_request_targets.yml
  .cspell/general-technical.txt
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi

Merged PR 545: feat(build): add PR target routing to dev branch
  .azuredevops/pull_request_targets.yml
  .cspell/general-technical.txt
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi

Merged PR 548: fix(build): pass comparison target branch to folder change detection script for AzDo template
  .azdo/templates/matrix-folder-check-template.yml
Owners: @WilliamBerryiii, @bindsi, @agreaves-ms

Merged PR 548: fix(build): pass comparison target branch to folder change detection script for AzDo template
  .azdo/templates/matrix-folder-check-template.yml
Owners: @WilliamBerryiii, @bindsi, @agreaves-ms

Merged PR 530: feat(media-connector): add Azure IoT Operations Media Connector infrastructure
  .cspell/general-technical.txt
  .cspell/industry-acronyms.txt
  .cspell/iot-operations.txt
  .cspell/project-specific.txt
  docs/solution-adr-library/edge-video-streaming-and-image-capture.md
  scripts/build/Application-Builder.ps1
  scripts/build/modules/ApplicationBuilder.Helpers.psm1
  src/500-application/508-media-connector/.env.example
  src/500-application/508-media-connector/.gitignore
  src/500-application/508-media-connector/.nobuild
  src/500-application/508-media-connector/README.md
  src/500-application/508-media-connector/config/grafana-datasources.yml
  src/500-application/508-media-connector/config/nginx.conf
  src/500-application/508-media-connector/config/prometheus.yml
  src/500-application/508-media-connector/docker-compose.yml
  src/500-application/508-media-connector/media-samples/index.html
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS, @azurecloudkevin, @nguyena2

Merged PR 530: feat(media-connector): add Azure IoT Operations Media Connector infrastructure
  .cspell/general-technical.txt
  .cspell/industry-acronyms.txt
  .cspell/iot-operations.txt
  .cspell/project-specific.txt
  docs/solution-adr-library/edge-video-streaming-and-image-capture.md
  scripts/build/Application-Builder.ps1
  scripts/build/modules/ApplicationBuilder.Helpers.psm1
  src/500-application/508-media-connector/.env.example
  src/500-application/508-media-connector/.gitignore
  src/500-application/508-media-connector/.nobuild
  src/500-application/508-media-connector/README.md
  src/500-application/508-media-connector/config/grafana-datasources.yml
  src/500-application/508-media-connector/config/nginx.conf
  src/500-application/508-media-connector/config/prometheus.yml
  src/500-application/508-media-connector/docker-compose.yml
  src/500-application/508-media-connector/media-samples/index.html
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS, @azurecloudkevin, @nguyena2

Merged PR 525: docs(500-application): remove duplicate section and pre-release app from README
  src/500-application/README.md
Owners: @WilliamBerryiii, @agreaves-ms

Merged PR 525: docs(500-application): remove duplicate section and pre-release app from README
  src/500-application/README.md
Owners: @WilliamBerryiii, @agreaves-ms

Merged PR 541: refactor(terraform): remove site MQTT endpoint and clean secret-provider-class
  blueprints/dual-peered-single-node-cluster/terraform/modules/mqtt-configuration/main.tf
  blueprints/dual-peered-single-node-cluster/terraform/modules/mqtt-configuration/outputs.tf
  blueprints/dual-peered-single-node-cluster/terraform/modules/secret-provider-class/main.tf
Owners: @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

refactor(github): comment out condition for GitHub push job
  .azdo/pipelines/github-push.yml
Owners: @WilliamBerryiii, @bindsi, @agreaves-ms

Merged PR 550: Merged PR 541: refactor(terraform): remove site MQTT endpoint and clean secre...
  blueprints/dual-peered-single-node-cluster/terraform/modules/mqtt-configuration/main.tf
  blueprints/dual-peered-single-node-cluster/terraform/modules/mqtt-configuration/outputs.tf
  blueprints/dual-peered-single-node-cluster/terraform/modules/secret-provider-class/main.tf
Owners: @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 550: Merged PR 541: refactor(terraform): remove site MQTT endpoint and clean secre...
  blueprints/dual-peered-single-node-cluster/terraform/modules/mqtt-configuration/main.tf
  blueprints/dual-peered-single-node-cluster/terraform/modules/mqtt-configuration/outputs.tf
  blueprints/dual-peered-single-node-cluster/terraform/modules/secret-provider-class/main.tf
Owners: @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 551: fix(docs): remove language path segments from media connector URLs
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/home-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/learning-sidebar.md
  docs/_sidebar.md
  src/500-application/508-media-connector/README.md
Owners: @WilliamBerryiii, @auyidi1, @EliiseS, @agreaves-ms

Merged PR 551: fix(docs): remove language path segments from media connector URLs
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/home-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/learning-sidebar.md
  docs/_sidebar.md
  src/500-application/508-media-connector/README.md
Owners: @WilliamBerryiii, @auyidi1, @EliiseS, @agreaves-ms

Merged PR 554: feat(instructions): update default branch references to dev
  .github/instructions/ado-create-pull-request.instructions.md
  .github/instructions/ado-wit-discovery.instructions.md
  .github/instructions/git-merge.instructions.md
  .github/prompts/ado-create-pull-request.prompt.md
  .github/prompts/ado-wit-discovery.prompt.md
  .github/prompts/git-merge.prompt.md
  .github/prompts/pull-request.prompt.md
  scripts/dev-tools/Generate-PrReference.ps1
  scripts/dev-tools/pr-ref-gen.sh
Owners: @agreaves-ms, @druttka, @WilliamBerryiii, @katriendg, @azurecloudkevin

Merged PR 554: feat(instructions): update default branch references to dev
  .github/instructions/ado-create-pull-request.instructions.md
  .github/instructions/ado-wit-discovery.instructions.md
  .github/instructions/git-merge.instructions.md
  .github/prompts/ado-create-pull-request.prompt.md
  .github/prompts/ado-wit-discovery.prompt.md
  .github/prompts/git-merge.prompt.md
  .github/prompts/pull-request.prompt.md
  scripts/dev-tools/Generate-PrReference.ps1
  scripts/dev-tools/pr-ref-gen.sh
Owners: @agreaves-ms, @druttka, @WilliamBerryiii, @katriendg, @azurecloudkevin

Merged PR 552: feat(control-plane): align dev defaults and expand AKS network access
  blueprints/dual-peered-single-node-cluster/terraform/modules/mqtt-configuration/README.md
  src/000-cloud/035-postgresql/terraform/README.md
  src/000-cloud/035-postgresql/terraform/variables.tf
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/README.md
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/main.tf
Owners: @WilliamBerryiii, @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 552: feat(control-plane): align dev defaults and expand AKS network access
  blueprints/dual-peered-single-node-cluster/terraform/modules/mqtt-configuration/README.md
  src/000-cloud/035-postgresql/terraform/README.md
  src/000-cloud/035-postgresql/terraform/variables.tf
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/README.md
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/main.tf
Owners: @WilliamBerryiii, @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 555: refactor(scripts): stop embedding sidebar timestamps
  .azdo/templates/docs-validation-template.yml
  .github/workflows/pages-deploy.yml
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/home-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/learning-sidebar.md
  docs/_sidebar.md
  scripts/Generate-DocsSidebar.ps1
  scripts/Generate-GitHubPagesConfig.ps1
Owners: @WilliamBerryiii, @bindsi, @agreaves-ms, @auyidi1, @EliiseS, @katriendg, @azurecloudkevin

Merged PR 555: refactor(scripts): stop embedding sidebar timestamps
  .azdo/templates/docs-validation-template.yml
  .github/workflows/pages-deploy.yml
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/home-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/learning-sidebar.md
  docs/_sidebar.md
  scripts/Generate-DocsSidebar.ps1
  scripts/Generate-GitHubPagesConfig.ps1
Owners: @WilliamBerryiii, @bindsi, @agreaves-ms, @auyidi1, @EliiseS, @katriendg, @azurecloudkevin

Merged PR 543: Add SSE Connector for Real-Time Event Streaming
  .cspell/project-specific.txt
  blueprints/full-single-node-cluster/terraform/sse-connector-assets.tfvars.example
  docs/solution-adr-library/sse-connector-real-time-event-streaming.md
  src/500-application/509-sse-connector/.env.example
  src/500-application/509-sse-connector/README.md
  src/500-application/509-sse-connector/docker-compose.yml
  src/500-application/509-sse-connector/resources/mosquitto.conf
  src/500-application/509-sse-connector/services/connector-test-client/Dockerfile
  src/500-application/509-sse-connector/services/connector-test-client/connector_client.py
  src/500-application/509-sse-connector/services/connector-test-client/requirements.txt
  src/500-application/509-sse-connector/services/sse-server/Dockerfile
  src/500-application/509-sse-connector/services/sse-server/events_simulator.py
  src/500-application/509-sse-connector/services/sse-server/requirements.txt
  src/500-application/509-sse-connector/services/sse-server/sse_server.py
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS, @nguyena2

Merged PR 543: Add SSE Connector for Real-Time Event Streaming
  .cspell/project-specific.txt
  blueprints/full-single-node-cluster/terraform/sse-connector-assets.tfvars.example
  docs/solution-adr-library/sse-connector-real-time-event-streaming.md
  src/500-application/509-sse-connector/.env.example
  src/500-application/509-sse-connector/README.md
  src/500-application/509-sse-connector/docker-compose.yml
  src/500-application/509-sse-connector/resources/mosquitto.conf
  src/500-application/509-sse-connector/services/connector-test-client/Dockerfile
  src/500-application/509-sse-connector/services/connector-test-client/connector_client.py
  src/500-application/509-sse-connector/services/connector-test-client/requirements.txt
  src/500-application/509-sse-connector/services/sse-server/Dockerfile
  src/500-application/509-sse-connector/services/sse-server/events_simulator.py
  src/500-application/509-sse-connector/services/sse-server/requirements.txt
  src/500-application/509-sse-connector/services/sse-server/sse_server.py
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS, @nguyena2

Merged PR 549: docs(adr): Add Architectural Decision Record for Akri Connector Component Organization
  .cspell/project-specific.txt
  docs/_sidebar.md
  docs/solution-adr-library/akri-connector-component-organization.md
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS

Merged PR 549: docs(adr): Add Architectural Decision Record for Akri Connector Component Organization
  .cspell/project-specific.txt
  docs/_sidebar.md
  docs/solution-adr-library/akri-connector-component-organization.md
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS

Merged PR 544: Add ONVIF Connector for IP Camera Integration
  .cspell/general-technical.txt
  .cspell/iot-operations.txt
  blueprints/full-single-node-cluster/terraform/onvif-connector-assets.tfvars.example
  docs/_sidebar.md
  docs/solution-adr-library/onvif-connector-camera-integration.md
  docs/solution-adr-library/sse-connector-real-time-event-streaming.md
  src/100-edge/110-iot-ops/terraform/variables.akri.tf
  src/500-application/509-sse-connector/README.md
  src/500-application/510-onvif-connector/.env.example
  src/500-application/510-onvif-connector/.gitignore
  src/500-application/510-onvif-connector/README.md
  src/500-application/510-onvif-connector/docker-compose.yml
  src/500-application/510-onvif-connector/services/onvif-camera-simulator/Dockerfile
  src/500-application/510-onvif-connector/services/onvif-camera-simulator/onvif_camera.py
  src/500-application/510-onvif-connector/services/onvif-camera-simulator/requirements.txt
  src/500-application/510-onvif-connector/services/onvif-connector-client/Dockerfile
  src/500-application/510-onvif-connector/services/onvif-connector-client/onvif_connector.py
  src/500-application/510-onvif-connector/services/onvif-connector-client/requirements.txt
  src/500-application/README.md
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS, @azurecloudkevin, @nguyena2

Merged PR 544: Add ONVIF Connector for IP Camera Integration
  .cspell/general-technical.txt
  .cspell/iot-operations.txt
  blueprints/full-single-node-cluster/terraform/onvif-connector-assets.tfvars.example
  docs/_sidebar.md
  docs/solution-adr-library/onvif-connector-camera-integration.md
  docs/solution-adr-library/sse-connector-real-time-event-streaming.md
  src/100-edge/110-iot-ops/terraform/variables.akri.tf
  src/500-application/509-sse-connector/README.md
  src/500-application/510-onvif-connector/.env.example
  src/500-application/510-onvif-connector/.gitignore
  src/500-application/510-onvif-connector/README.md
  src/500-application/510-onvif-connector/docker-compose.yml
  src/500-application/510-onvif-connector/services/onvif-camera-simulator/Dockerfile
  src/500-application/510-onvif-connector/services/onvif-camera-simulator/onvif_camera.py
  src/500-application/510-onvif-connector/services/onvif-camera-simulator/requirements.txt
  src/500-application/510-onvif-connector/services/onvif-connector-client/Dockerfile
  src/500-application/510-onvif-connector/services/onvif-connector-client/onvif_connector.py
  src/500-application/510-onvif-connector/services/onvif-connector-client/requirements.txt
  src/500-application/README.md
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS, @azurecloudkevin, @nguyena2

.github/CODEOWNERS:

# GitHub CODEOWNERS - Simplified
# Based on actual repository structure and contributor analysis
# Last matching pattern takes precedence

# Default owners
* @WilliamBerryiii @agreaves-ms @katriendg @bindsi

# Core infrastructure components
src/ @WilliamBerryiii @agreaves-ms @bindsi @katriendg

# Cloud infrastructure
src/000-cloud/ @bindsi @katriendg @agreaves-ms

# Edge and IoT components
src/100-edge/ @nguyena2 @bindsi @agreaves-ms

# Applications
src/500-application/ @nguyena2 @agreaves-ms

# Deployment blueprints
blueprints/ @bindsi @agreaves-ms

# Microsoft Fabric
blueprints/fabric/ @agreaves-ms @bindsi
blueprints/fabric-rti/ @agreaves-ms @bindsi
src/000-cloud/031-fabric/ @agreaves-ms @bindsi
src/000-cloud/032-fabric-rti/ @agreaves-ms @bindsi

# Documentation
docs/ @WilliamBerryiii @auyidi1 @EliiseS
README.md @WilliamBerryiii @agreaves-ms
learning/ @WilliamBerryiii

# Scripts and automation
scripts/ @WilliamBerryiii @katriendg @agreaves-ms @azurecloudkevin

# CI/CD and workflows
.github/ @agreaves-ms @WilliamBerryiii
azure-pipelines.yml @WilliamBerryiii @bindsi @agreaves-ms
.azdo/ @WilliamBerryiii @bindsi @agreaves-ms

# Development environment
.devcontainer/ @agreaves-ms @WilliamBerryiii

# AI and prompts
copilot/ @agreaves-ms @katriendg @WilliamBerryiii
.github/instructions/ @agreaves-ms @druttka
.github/prompts/ @agreaves-ms @WilliamBerryiii

# Security
SECURITY.md @EliiseS @agreaves-ms
project-security-plans/ @EliiseS @agreaves-ms

# Infrastructure as Code
*.tf @agreaves-ms @bindsi @katriendg @azurecloudkevin
*.bicep @katriendg @agreaves-ms @bindsi
bicepconfig.json @katriendg @agreaves-ms
