Repository microsoft/edge-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @nguyena2, @auyidi1, @EliiseS, @azurecloudkevin, @druttka

.github/CODEOWNERS:

# GitHub CODEOWNERS - Simplified
# Based on actual repository structure and contributor analysis
# Last matching pattern takes precedence

# Default owners
* @WilliamBerryiii @agreaves-ms @katriendg @bindsi

# Core infrastructure components
src/ @WilliamBerryiii @agreaves-ms @bindsi @katriendg

# Cloud infrastructure
src/000-cloud/ @bindsi @katriendg @agreaves-ms

# Edge and IoT components
src/100-edge/ @nguyena2 @bindsi @agreaves-ms

# Applications
src/500-application/ @nguyena2 @agreaves-ms

# Deployment blueprints
blueprints/ @bindsi @agreaves-ms

# Microsoft Fabric
blueprints/fabric/ @agreaves-ms @bindsi
blueprints/fabric-rti/ @agreaves-ms @bindsi
src/000-cloud/031-fabric/ @agreaves-ms @bindsi
src/000-cloud/032-fabric-rti/ @agreaves-ms @bindsi

# Documentation
docs/ @WilliamBerryiii @auyidi1 @EliiseS
README.md @WilliamBerryiii @agreaves-ms
learning/ @WilliamBerryiii

# Scripts and automation
scripts/ @WilliamBerryiii @katriendg @agreaves-ms @azurecloudkevin

# CI/CD and workflows
.github/ @agreaves-ms @WilliamBerryiii
azure-pipelines.yml @WilliamBerryiii @bindsi @agreaves-ms
.azdo/ @WilliamBerryiii @bindsi @agreaves-ms

# Development environment
.devcontainer/ @agreaves-ms @WilliamBerryiii

# AI and prompts
copilot/ @agreaves-ms @katriendg @WilliamBerryiii
.github/instructions/ @agreaves-ms @druttka
.github/prompts/ @agreaves-ms @WilliamBerryiii

# Security
SECURITY.md @EliiseS @agreaves-ms
project-security-plans/ @EliiseS @agreaves-ms

# Infrastructure as Code
*.tf @agreaves-ms @bindsi @katriendg @azurecloudkevin
*.bicep @katriendg @agreaves-ms @bindsi
bicepconfig.json @katriendg @agreaves-ms

Merged PR 481: fix(security): disable AKS local admin account to resolve CKV_AZURE_141
  src/000-cloud/070-kubernetes/terraform/README.md
  src/000-cloud/070-kubernetes/terraform/main.tf
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/README.md
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/main.tf
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/variables.tf
  src/000-cloud/070-kubernetes/terraform/variables.tf
Owners: @WilliamBerryiii, @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 481: fix(security): disable AKS local admin account to resolve CKV_AZURE_141
  src/000-cloud/070-kubernetes/terraform/README.md
  src/000-cloud/070-kubernetes/terraform/main.tf
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/README.md
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/main.tf
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/variables.tf
  src/000-cloud/070-kubernetes/terraform/variables.tf
Owners: @WilliamBerryiii, @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 468: feat: Add security analysis work item management
  .vscode/mcp.json
  docs/security-analysis-workflow.md
  scripts/Invoke-SecurityAnalysisWithWorkItems.ps1
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS, @azurecloudkevin

Merged PR 468: feat: Add security analysis work item management
  .vscode/mcp.json
  docs/security-analysis-workflow.md
  scripts/Invoke-SecurityAnalysisWithWorkItems.ps1
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS, @azurecloudkevin

Merged PR 479: Fix language path segments in documentation links and consolidate validation
  .azdo/templates/docs-check-bicep-template.yml
  .azdo/templates/docs-check-terraform-template.yml
  .azdo/templates/docs-validation-template.yml
  .github/workflows/docs-automation.yml
  azure-pipelines.yml
  blueprints/azureml/scripts/values/volcano-sh-values.yaml
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/home-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/praxisworx-sidebar.md
  docs/_sidebar.md
  docs/contributions.md
  scripts/Generate-DocsSidebar.ps1
  scripts/security/Update-ShellScriptSHAPinning.ps1
  src/500-application/README.md
  tests/README.md
  tests/setup/main.tf
Owners: @WilliamBerryiii, @bindsi, @agreaves-ms, @katriendg, @azurecloudkevin, @auyidi1, @EliiseS

Merged PR 479: Fix language path segments in documentation links and consolidate validation
  .azdo/templates/docs-check-bicep-template.yml
  .azdo/templates/docs-check-terraform-template.yml
  .azdo/templates/docs-validation-template.yml
  .github/workflows/docs-automation.yml
  azure-pipelines.yml
  blueprints/azureml/scripts/values/volcano-sh-values.yaml
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/home-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/praxisworx-sidebar.md
  docs/_sidebar.md
  docs/contributions.md
  scripts/Generate-DocsSidebar.ps1
  scripts/security/Update-ShellScriptSHAPinning.ps1
  src/500-application/README.md
  tests/README.md
  tests/setup/main.tf
Owners: @WilliamBerryiii, @bindsi, @agreaves-ms, @katriendg, @azurecloudkevin, @auyidi1, @EliiseS

Merged PR 486: chore: sync from main - non-IaC updates into pre-release
  .azdo/templates/megalinter-template.yml
  .github/instructions/ado-wit-discovery.instructions.md
  .github/instructions/ado-wit-planning.instructions.md
  .github/prompts/ado-wit-discovery.prompt.md
  .github/prompts/pull-request.prompt.md
  SUPPORT.md
  azure-pipelines.yml
  docs/_navbar.md
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/home-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/praxisworx-sidebar.md
  docs/_sidebar.md
  package-lock.json
  package.json
  scripts/Generate-DocsSidebar.ps1
  scripts/dev-tools/Generate-PrReference.ps1
  scripts/dev-tools/pr-ref-gen.sh
  scripts/linting/Docs-Link-Check.ps1
  scripts/linting/markdown-link-check.config.json
Owners: @WilliamBerryiii, @bindsi, @agreaves-ms, @druttka, @katriendg, @auyidi1, @EliiseS, @azurecloudkevin

feat: Add Multi-Asset Deployment Guide and associated scripts
  .azdo/pipelines/github-push.yml
  src/100-edge/111-assets/bicep/MULTI-ASSET-DEPLOYMENT-GUIDE.md
  src/100-edge/111-assets/bicep/deploy-multi-assets.sh
  src/100-edge/111-assets/bicep/main.bicep
  src/100-edge/111-assets/bicep/modules/k8-bridge-role-assignment.bicep
  src/100-edge/111-assets/bicep/multi-assets-example.csv
  src/100-edge/111-assets/bicep/template.json
  src/100-edge/111-assets/bicep/types.bicep
  src/100-edge/111-assets/bicep/types.core.bicep
  src/100-edge/111-assets/ci/bicep/main.bicep
Owners: @WilliamBerryiii, @bindsi, @agreaves-ms, @nguyena2, @katriendg

Merged PR 487: feat(acr): add network posture controls
  .vscode/tasks.json
  blueprints/azureml/terraform/README.md
  blueprints/azureml/terraform/main.tf
  blueprints/azureml/terraform/outputs.tf
  blueprints/azureml/terraform/variables.tf
  blueprints/full-multi-node-cluster/terraform/README.md
  blueprints/full-multi-node-cluster/terraform/main.tf
  blueprints/full-multi-node-cluster/terraform/outputs.tf
  blueprints/full-multi-node-cluster/terraform/variables.tf
  blueprints/full-single-node-cluster/terraform/README.md
  blueprints/full-single-node-cluster/terraform/main.tf
  blueprints/full-single-node-cluster/terraform/outputs.tf
  blueprints/full-single-node-cluster/terraform/variables.tf
  package.json
  scripts/tf-walker-parallel.sh
  src/000-cloud/060-acr/terraform/README.md
  src/000-cloud/060-acr/terraform/main.tf
  src/000-cloud/060-acr/terraform/modules/container-registry/README.md
  src/000-cloud/060-acr/terraform/modules/container-registry/main.tf
  src/000-cloud/060-acr/terraform/modules/container-registry/outputs.tf
  src/000-cloud/060-acr/terraform/modules/container-registry/variables.tf
  src/000-cloud/060-acr/terraform/outputs.tf
  src/000-cloud/060-acr/terraform/variables.tf
  src/000-cloud/080-azureml/terraform/README.md
  src/000-cloud/080-azureml/terraform/variables.deps.tf
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @azurecloudkevin

Merged PR 487: feat(acr): add network posture controls
  .vscode/tasks.json
  blueprints/azureml/terraform/README.md
  blueprints/azureml/terraform/main.tf
  blueprints/azureml/terraform/outputs.tf
  blueprints/azureml/terraform/variables.tf
  blueprints/full-multi-node-cluster/terraform/README.md
  blueprints/full-multi-node-cluster/terraform/main.tf
  blueprints/full-multi-node-cluster/terraform/outputs.tf
  blueprints/full-multi-node-cluster/terraform/variables.tf
  blueprints/full-single-node-cluster/terraform/README.md
  blueprints/full-single-node-cluster/terraform/main.tf
  blueprints/full-single-node-cluster/terraform/outputs.tf
  blueprints/full-single-node-cluster/terraform/variables.tf
  package.json
  scripts/tf-walker-parallel.sh
  src/000-cloud/060-acr/terraform/README.md
  src/000-cloud/060-acr/terraform/main.tf
  src/000-cloud/060-acr/terraform/modules/container-registry/README.md
  src/000-cloud/060-acr/terraform/modules/container-registry/main.tf
  src/000-cloud/060-acr/terraform/modules/container-registry/outputs.tf
  src/000-cloud/060-acr/terraform/modules/container-registry/variables.tf
  src/000-cloud/060-acr/terraform/outputs.tf
  src/000-cloud/060-acr/terraform/variables.tf
  src/000-cloud/080-azureml/terraform/README.md
  src/000-cloud/080-azureml/terraform/variables.deps.tf
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @azurecloudkevin

Merged PR 488: feat(prompts): add Azure DevOps PR creation with review tools
  .github/chatmodes/README.md
  .github/chatmodes/pr-review.chatmode.md
  .github/chatmodes/task-planner.chatmode.md
  .github/instructions/README.md
  .github/instructions/ado-create-pull-request.instructions.md
  .github/instructions/ado-wit-planning.instructions.md
  .github/instructions/markdown.instructions.md
  .github/prompts/README.md
  .github/prompts/ado-create-pull-request.prompt.md
  .github/prompts/git-commit-message.prompt.md
  docs/_sidebar.md
Owners: @agreaves-ms, @WilliamBerryiii, @druttka, @auyidi1, @EliiseS

Merged PR 488: feat(prompts): add Azure DevOps PR creation with review tools
  .github/chatmodes/README.md
  .github/chatmodes/pr-review.chatmode.md
  .github/chatmodes/task-planner.chatmode.md
  .github/instructions/README.md
  .github/instructions/ado-create-pull-request.instructions.md
  .github/instructions/ado-wit-planning.instructions.md
  .github/instructions/markdown.instructions.md
  .github/prompts/README.md
  .github/prompts/ado-create-pull-request.prompt.md
  .github/prompts/git-commit-message.prompt.md
  docs/_sidebar.md
Owners: @agreaves-ms, @WilliamBerryiii, @druttka, @auyidi1, @EliiseS

Merged PR 496: fix(iot-ops): add dependency for azurerm_arc_kubernetes_cluster_extension in...
  src/100-edge/110-iot-ops/terraform/modules/iot-ops-instance/main.tf
Owners: @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 496: fix(iot-ops): add dependency for azurerm_arc_kubernetes_cluster_extension in...
  src/100-edge/110-iot-ops/terraform/modules/iot-ops-instance/main.tf
Owners: @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 492: feat(instructions): clarify MCP usage for ADO work item updates
  .github/instructions/ado-update-wit-items.instructions.md
Owners: @agreaves-ms, @druttka

Merged PR 492: feat(instructions): clarify MCP usage for ADO work item updates
  .github/instructions/ado-update-wit-items.instructions.md
Owners: @agreaves-ms, @druttka

Merged PR 491: feat(tools): add pr diff hunk paging workflow
  .github/chatmodes/pr-review.chatmode.md
  scripts/README.md
  scripts/pr-diff-parser.py
Owners: @agreaves-ms, @WilliamBerryiii, @katriendg, @azurecloudkevin

Merged PR 491: feat(tools): add pr diff hunk paging workflow
  .github/chatmodes/pr-review.chatmode.md
  scripts/README.md
  scripts/pr-diff-parser.py
Owners: @agreaves-ms, @WilliamBerryiii, @katriendg, @azurecloudkevin

Merged PR 498: feat(azureml): enhance gpu observability for aks integration
  .cspell-dictionary.txt
  .github/instructions/ado-wit-discovery.instructions.md
  .github/prompts/task-planner-plan.prompt.md
  blueprints/azureml/README.md
  blueprints/azureml/scripts/install-chart-releases.sh
  blueprints/azureml/scripts/manifests/gpu-podmonitor.yaml
  blueprints/azureml/scripts/uninstall-chart-releases.sh
  blueprints/azureml/scripts/validate-gpu-metrics.sh
  blueprints/azureml/terraform/README.md
  blueprints/azureml/terraform/main.tf
  blueprints/azureml/terraform/variables.tf
  blueprints/full-multi-node-cluster/terraform/README.md
  blueprints/full-multi-node-cluster/terraform/main.tf
  blueprints/full-multi-node-cluster/terraform/variables.tf
  blueprints/full-single-node-cluster/terraform/README.md
  blueprints/full-single-node-cluster/terraform/main.tf
  blueprints/full-single-node-cluster/terraform/variables.tf
  src/000-cloud/020-observability/terraform/README.md
  src/000-cloud/020-observability/terraform/outputs.tf
  src/000-cloud/070-kubernetes/terraform/README.md
  src/000-cloud/070-kubernetes/terraform/main.tf
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/README.md
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/main.tf
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/variables.deps.tf
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/versions.tf
  src/000-cloud/070-kubernetes/terraform/variables.deps.tf
  src/000-cloud/070-kubernetes/terraform/variables.tf
  src/000-cloud/080-azureml/terraform/README.md
  src/000-cloud/080-azureml/terraform/main.tf
  src/000-cloud/080-azureml/terraform/modules/inference-cluster-integration/README.md
  src/000-cloud/080-azureml/terraform/modules/inference-cluster-integration/main.tf
  src/000-cloud/080-azureml/terraform/modules/inference-cluster-integration/variables.tf
  src/000-cloud/080-azureml/terraform/variables.tf
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @druttka, @azurecloudkevin

Merged PR 498: feat(azureml): enhance gpu observability for aks integration
  .cspell-dictionary.txt
  .github/instructions/ado-wit-discovery.instructions.md
  .github/prompts/task-planner-plan.prompt.md
  blueprints/azureml/README.md
  blueprints/azureml/scripts/install-chart-releases.sh
  blueprints/azureml/scripts/manifests/gpu-podmonitor.yaml
  blueprints/azureml/scripts/uninstall-chart-releases.sh
  blueprints/azureml/scripts/validate-gpu-metrics.sh
  blueprints/azureml/terraform/README.md
  blueprints/azureml/terraform/main.tf
  blueprints/azureml/terraform/variables.tf
  blueprints/full-multi-node-cluster/terraform/README.md
  blueprints/full-multi-node-cluster/terraform/main.tf
  blueprints/full-multi-node-cluster/terraform/variables.tf
  blueprints/full-single-node-cluster/terraform/README.md
  blueprints/full-single-node-cluster/terraform/main.tf
  blueprints/full-single-node-cluster/terraform/variables.tf
  src/000-cloud/020-observability/terraform/README.md
  src/000-cloud/020-observability/terraform/outputs.tf
  src/000-cloud/070-kubernetes/terraform/README.md
  src/000-cloud/070-kubernetes/terraform/main.tf
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/README.md
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/main.tf
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/variables.deps.tf
  src/000-cloud/070-kubernetes/terraform/modules/aks-cluster/versions.tf
  src/000-cloud/070-kubernetes/terraform/variables.deps.tf
  src/000-cloud/070-kubernetes/terraform/variables.tf
  src/000-cloud/080-azureml/terraform/README.md
  src/000-cloud/080-azureml/terraform/main.tf
  src/000-cloud/080-azureml/terraform/modules/inference-cluster-integration/README.md
  src/000-cloud/080-azureml/terraform/modules/inference-cluster-integration/main.tf
  src/000-cloud/080-azureml/terraform/modules/inference-cluster-integration/variables.tf
  src/000-cloud/080-azureml/terraform/variables.tf
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @druttka, @azurecloudkevin

Merged PR 500: Merged PR 496: fix(iot-ops): add dependency for azurerm_arc_kubernetes_cluste...
  src/100-edge/110-iot-ops/terraform/modules/iot-ops-instance/main.tf
Owners: @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 499: fix(messaging): add namespace parameter for asset referencing in dataflows
  blueprints/dual-peered-single-node-cluster/terraform/main.tf
  blueprints/full-multi-node-cluster/bicep/README.md
  blueprints/full-multi-node-cluster/bicep/main.bicep
  blueprints/full-multi-node-cluster/terraform/main.tf
  blueprints/full-single-node-cluster/bicep/README.md
  blueprints/full-single-node-cluster/bicep/main.bicep
  blueprints/full-single-node-cluster/terraform/main.tf
  src/100-edge/111-assets/terraform/main.tf
  src/100-edge/130-messaging/bicep/README.md
  src/100-edge/130-messaging/bicep/main.bicep
  src/100-edge/130-messaging/bicep/modules/event-grid.bicep
  src/100-edge/130-messaging/bicep/modules/event-hub.bicep
  src/100-edge/130-messaging/terraform/README.md
  src/100-edge/130-messaging/terraform/main.tf
  src/100-edge/130-messaging/terraform/modules/eventgrid/README.md
  src/100-edge/130-messaging/terraform/modules/eventgrid/main.tf
  src/100-edge/130-messaging/terraform/modules/eventgrid/variables.tf
  src/100-edge/130-messaging/terraform/modules/eventhub/README.md
  src/100-edge/130-messaging/terraform/modules/eventhub/main.tf
  src/100-edge/130-messaging/terraform/modules/eventhub/variables.tf
  src/100-edge/130-messaging/terraform/modules/fabric-rti/README.md
  src/100-edge/130-messaging/terraform/modules/fabric-rti/main.tf
  src/100-edge/130-messaging/terraform/modules/fabric-rti/variables.tf
  src/100-edge/130-messaging/terraform/variables.tf
Owners: @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin, @WilliamBerryiii

Merged PR 510: feat(ci): add docker cleanup to megalinter template
  .azdo/templates/megalinter-template.yml
  docs/build-cicd/azure-pipelines/templates/megalinter-template.md
Owners: @WilliamBerryiii, @bindsi, @agreaves-ms, @auyidi1, @EliiseS

Merged PR 510: feat(ci): add docker cleanup to megalinter template
  .azdo/templates/megalinter-template.yml
  docs/build-cicd/azure-pipelines/templates/megalinter-template.md
Owners: @WilliamBerryiii, @bindsi, @agreaves-ms, @auyidi1, @EliiseS

Merged PR 512: docs: improve Terraform and Bicep deployment getting-started guide
  docs/getting-started/general-user.md
Owners: @WilliamBerryiii, @auyidi1, @EliiseS

Merged PR 512: docs: improve Terraform and Bicep deployment getting-started guide
  docs/getting-started/general-user.md
Owners: @WilliamBerryiii, @auyidi1, @EliiseS

Merged PR 517: fix(build): prevent PowerShell format string errors in Application Builder
  scripts/build/modules/ApplicationBuilder.Compose.psm1
  scripts/build/modules/ApplicationBuilder.Helpers.psm1
Owners: @WilliamBerryiii, @katriendg, @agreaves-ms, @azurecloudkevin

Merged PR 517: fix(build): prevent PowerShell format string errors in Application Builder
  scripts/build/modules/ApplicationBuilder.Compose.psm1
  scripts/build/modules/ApplicationBuilder.Helpers.psm1
Owners: @WilliamBerryiii, @katriendg, @agreaves-ms, @azurecloudkevin

Merged PR 519: feat(instructions): enhance PR workflow with auto-creation and no-gates mode
  .github/instructions/ado-create-pull-request.instructions.md
  .github/instructions/commit-message.instructions.md
  .github/prompts/ado-create-pull-request.prompt.md
  .github/prompts/pull-request.prompt.md
Owners: @agreaves-ms, @druttka, @WilliamBerryiii

Merged PR 519: feat(instructions): enhance PR workflow with auto-creation and no-gates mode
  .github/instructions/ado-create-pull-request.instructions.md
  .github/instructions/commit-message.instructions.md
  .github/prompts/ado-create-pull-request.prompt.md
  .github/prompts/pull-request.prompt.md
Owners: @agreaves-ms, @druttka, @WilliamBerryiii

Merged PR 518: feat(iot-ops): add resourceLimitsCpu to mqtt_broker_config
  src/100-edge/110-iot-ops/terraform/README.md
  src/100-edge/110-iot-ops/terraform/modules/iot-ops-instance/README.md
  src/100-edge/110-iot-ops/terraform/modules/iot-ops-instance/main.tf
  src/100-edge/110-iot-ops/terraform/modules/iot-ops-instance/variables.tf
  src/100-edge/110-iot-ops/terraform/variables.instance.tf
Owners: @WilliamBerryiii, @agreaves-ms, @bindsi, @katriendg, @azurecloudkevin

Merged PR 520: feat(instructions): add support for beads for task tracking
  .cspell-dictionary.txt
  .devcontainer/beads/devcontainer.json
  .github/prompts/README.md
  .gitignore
  .vscode/mcp.json
  .vscode/settings.json
  README.md
  copilot/beads/README.md
  copilot/beads/chatmodes/bd-task-planner.chatmode.md
  copilot/beads/instructions/bd-implementation.instructions.md
  copilot/beads/prompts/bd-planner-plan.prompt.md
  copilot/beads/prompts/bd-start.prompt.md
  docs/_parts/docs-sidebar.md
  docs/_sidebar.md
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS

Merged PR 520: feat(instructions): add support for beads for task tracking
  .cspell-dictionary.txt
  .devcontainer/beads/devcontainer.json
  .github/prompts/README.md
  .gitignore
  .vscode/mcp.json
  .vscode/settings.json
  README.md
  copilot/beads/README.md
  copilot/beads/chatmodes/bd-task-planner.chatmode.md
  copilot/beads/instructions/bd-implementation.instructions.md
  copilot/beads/prompts/bd-planner-plan.prompt.md
  copilot/beads/prompts/bd-start.prompt.md
  docs/_parts/docs-sidebar.md
  docs/_sidebar.md
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS

Merged PR 529: feat(vm-host): add Azure AD authentication, Spot pricing, and enhanced VM access options
  .cspell-dictionary.txt
  .devcontainer/beads/devcontainer.json
  blueprints/azureml/README.md
  blueprints/azureml/terraform/README.md
  blueprints/azureml/terraform/main.tf
  blueprints/azureml/terraform/outputs.tf
  blueprints/azureml/terraform/variables.tf
  blueprints/partial-single-node-cluster/terraform/README.md
  blueprints/partial-single-node-cluster/terraform/outputs.tf
  src/000-cloud/051-vm-host/README.md
  src/000-cloud/051-vm-host/ci/terraform/versions.tf
  src/000-cloud/051-vm-host/terraform/README.md
  src/000-cloud/051-vm-host/terraform/main.tf
  src/000-cloud/051-vm-host/terraform/modules/virtual-machine/README.md
  src/000-cloud/051-vm-host/terraform/modules/virtual-machine/main.tf
  src/000-cloud/051-vm-host/terraform/modules/virtual-machine/outputs.tf
  src/000-cloud/051-vm-host/terraform/modules/virtual-machine/variables.tf
  src/000-cloud/051-vm-host/terraform/outputs.tf
  src/000-cloud/051-vm-host/terraform/tests/setup/main.tf
  src/000-cloud/051-vm-host/terraform/tests/vm.tftest.hcl
  src/000-cloud/051-vm-host/terraform/variables.deps.tf
  src/000-cloud/051-vm-host/terraform/variables.tf
  src/000-cloud/051-vm-host/terraform/versions.tf
  src/100-edge/100-cncf-cluster/scripts/deploy-script-secrets.sh
  src/100-edge/100-cncf-cluster/scripts/k3s-device-setup.sh
  src/100-edge/100-cncf-cluster/terraform/README.md
  src/100-edge/100-cncf-cluster/terraform/main.tf
  src/100-edge/100-cncf-cluster/terraform/modules/arc-server-script-deployment/README.md
  src/100-edge/100-cncf-cluster/terraform/modules/arc-server-script-deployment/main.tf
  src/100-edge/100-cncf-cluster/terraform/modules/arc-server-script-deployment/variables.tf
  src/100-edge/100-cncf-cluster/terraform/modules/ubuntu-k3s/main.tf
  src/100-edge/100-cncf-cluster/terraform/modules/vm-script-deployment/README.md
  src/100-edge/100-cncf-cluster/terraform/modules/vm-script-deployment/main.tf
  src/100-edge/100-cncf-cluster/terraform/modules/vm-script-deployment/variables.tf
  src/100-edge/100-cncf-cluster/terraform/tests/setup/main.tf
  src/100-edge/100-cncf-cluster/terraform/variables.deps.tf
  src/500-application/README.md
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @azurecloudkevin

Merged PR 529: feat(vm-host): add Azure AD authentication, Spot pricing, and enhanced VM access options
  .cspell-dictionary.txt
  .devcontainer/beads/devcontainer.json
  blueprints/azureml/README.md
  blueprints/azureml/terraform/README.md
  blueprints/azureml/terraform/main.tf
  blueprints/azureml/terraform/outputs.tf
  blueprints/azureml/terraform/variables.tf
  blueprints/partial-single-node-cluster/terraform/README.md
  blueprints/partial-single-node-cluster/terraform/outputs.tf
  src/000-cloud/051-vm-host/README.md
  src/000-cloud/051-vm-host/ci/terraform/versions.tf
  src/000-cloud/051-vm-host/terraform/README.md
  src/000-cloud/051-vm-host/terraform/main.tf
  src/000-cloud/051-vm-host/terraform/modules/virtual-machine/README.md
  src/000-cloud/051-vm-host/terraform/modules/virtual-machine/main.tf
  src/000-cloud/051-vm-host/terraform/modules/virtual-machine/outputs.tf
  src/000-cloud/051-vm-host/terraform/modules/virtual-machine/variables.tf
  src/000-cloud/051-vm-host/terraform/outputs.tf
  src/000-cloud/051-vm-host/terraform/tests/setup/main.tf
  src/000-cloud/051-vm-host/terraform/tests/vm.tftest.hcl
  src/000-cloud/051-vm-host/terraform/variables.deps.tf
  src/000-cloud/051-vm-host/terraform/variables.tf
  src/000-cloud/051-vm-host/terraform/versions.tf
  src/100-edge/100-cncf-cluster/scripts/deploy-script-secrets.sh
  src/100-edge/100-cncf-cluster/scripts/k3s-device-setup.sh
  src/100-edge/100-cncf-cluster/terraform/README.md
  src/100-edge/100-cncf-cluster/terraform/main.tf
  src/100-edge/100-cncf-cluster/terraform/modules/arc-server-script-deployment/README.md
  src/100-edge/100-cncf-cluster/terraform/modules/arc-server-script-deployment/main.tf
  src/100-edge/100-cncf-cluster/terraform/modules/arc-server-script-deployment/variables.tf
  src/100-edge/100-cncf-cluster/terraform/modules/ubuntu-k3s/main.tf
  src/100-edge/100-cncf-cluster/terraform/modules/vm-script-deployment/README.md
  src/100-edge/100-cncf-cluster/terraform/modules/vm-script-deployment/main.tf
  src/100-edge/100-cncf-cluster/terraform/modules/vm-script-deployment/variables.tf
  src/100-edge/100-cncf-cluster/terraform/tests/setup/main.tf
  src/100-edge/100-cncf-cluster/terraform/variables.deps.tf
  src/500-application/README.md
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @azurecloudkevin

Merged PR 532: feat(prompts): add runSubagent support to task-researcher and beads planner chatmodes
  .github/chatmodes/task-researcher.chatmode.md
  copilot/beads/chatmodes/bd-task-planner.chatmode.md
Owners: @agreaves-ms, @WilliamBerryiii, @katriendg

Merged PR 532: feat(prompts): add runSubagent support to task-researcher and beads planner chatmodes
  .github/chatmodes/task-researcher.chatmode.md
  copilot/beads/chatmodes/bd-task-planner.chatmode.md
Owners: @agreaves-ms, @WilliamBerryiii, @katriendg

Merged PR 531: feat(tools): add video-to-gif CLI component with docs and build artifacts
  .cspell-dictionary.txt
  docs/_sidebar.md
  src/900-tools-utilities/901-video-tools/.env.example
  src/900-tools-utilities/901-video-tools/README.md
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/.dockerignore
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/.gitignore
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/Cargo.lock
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/Cargo.toml
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/Dockerfile
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/README.md
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/docker-compose.yaml
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/src/converter.rs
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/src/main.rs
  src/900-tools-utilities/901-video-tools/scripts/build-local.sh
  src/900-tools-utilities/901-video-tools/scripts/test-conversion.sh
  src/900-tools-utilities/901-video-tools/test-assets/README.md
  src/900-tools-utilities/README.md
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS, @azurecloudkevin

Merged PR 531: feat(tools): add video-to-gif CLI component with docs and build artifacts
  .cspell-dictionary.txt
  docs/_sidebar.md
  src/900-tools-utilities/901-video-tools/.env.example
  src/900-tools-utilities/901-video-tools/README.md
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/.dockerignore
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/.gitignore
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/Cargo.lock
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/Cargo.toml
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/Dockerfile
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/README.md
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/docker-compose.yaml
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/src/converter.rs
  src/900-tools-utilities/901-video-tools/cli/video-to-gif/src/main.rs
  src/900-tools-utilities/901-video-tools/scripts/build-local.sh
  src/900-tools-utilities/901-video-tools/scripts/test-conversion.sh
  src/900-tools-utilities/901-video-tools/test-assets/README.md
  src/900-tools-utilities/README.md
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @auyidi1, @EliiseS, @azurecloudkevin

Merged PR 527: (feat) Add instructions for using edge-ai tools in personal repositories
  README.md
  package.json
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi
