Repository microsoft/edge-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi, @nguyena2, @auyidi1, @EliiseS, @azurecloudkevin, @druttka

refactor(build): consolidate workflow inputs for GitHub 10-input limit
  .github/workflows/application-matrix-builds.yml
  .github/workflows/docs-automation-commenter.yml
  .github/workflows/docs-automation.yml
  .github/workflows/pr-validation.yml
Owners: @agreaves-ms, @WilliamBerryiii

fix(build): correct workflow input consolidation schema alignment
  .github/workflows/application-matrix-builds.yml
  .github/workflows/pr-validation.yml
Owners: @agreaves-ms, @WilliamBerryiii

fix(build): add workflow_call trigger to docs-automation workflow
  .github/workflows/docs-automation.yml
Owners: @agreaves-ms, @WilliamBerryiii

fix(build): grant required permissions to security-pr workflow call
  .github/workflows/pr-validation.yml
Owners: @agreaves-ms, @WilliamBerryiii

fix(build): grant required permissions to reusable workflow calls
  .github/workflows/main.yml
  .github/workflows/pr-validation.yml
Owners: @agreaves-ms, @WilliamBerryiii

refactor(build): remove egress monitoring from security workflows
  .github/workflows/security-comprehensive.yml
  .github/workflows/security-deployment.yml
  .github/workflows/security-pr.yml
  scripts/security/Monitor-EgressTraffic.ps1
Owners: @agreaves-ms, @WilliamBerryiii, @katriendg, @azurecloudkevin

fix(scripts): set executable permissions on bash scripts
  scripts/tag-rust-components.sh
  scripts/update-versions-in-gitops.sh
Owners: @WilliamBerryiii, @katriendg, @agreaves-ms, @azurecloudkevin

feat(build): suppress false positive gitleaks detections
  .gitleaks.toml
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi

fix(build): upgrade glob and js-yaml to resolve CVEs
  package-lock.json
  package.json
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi

fix(application): upgrade werkzeug to 3.0.6
  src/500-application/506-ros2-connector/services/requirements.txt
Owners: @nguyena2, @agreaves-ms

refactor(build): remove harden-runner from all workflows
  .github/workflows/security-comprehensive.yml
  .github/workflows/security-deployment.yml
  .github/workflows/security-pr.yml
  .github/workflows/security-staleness-check.yml
Owners: @agreaves-ms, @WilliamBerryiii

chore(build): suppress atty crate vulnerability warnings
  .grype.yaml
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi

fix(build): correct gitleaks allowlist syntax
  .gitleaks.toml
Owners: @WilliamBerryiii, @agreaves-ms, @katriendg, @bindsi

docs(build): remove outdated harden-runner comment
  .github/workflows/security-pr.yml
Owners: @agreaves-ms, @WilliamBerryiii

docs(blueprints): add missing author field to azureml README
  blueprints/azureml/README.md
Owners: @WilliamBerryiii, @agreaves-ms

fix(build): use dedicated frontmatter validation script in GitHub Actions
  .github/workflows/docs-automation.yml
Owners: @agreaves-ms, @WilliamBerryiii

docs: regenerate sidebar navigation to remove outdated reference
  docs/_sidebar.md
Owners: @WilliamBerryiii, @auyidi1, @EliiseS

docs: regenerate all sidebar sections to sync with latest structure
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/home-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/praxisworx-sidebar.md
  docs/_sidebar.md
Owners: @WilliamBerryiii, @auyidi1, @EliiseS

fix(build): correct timestamp regex pattern in sidebar validation
  .github/workflows/docs-automation.yml
Owners: @agreaves-ms, @WilliamBerryiii

fix(build): invoke sidebar generation with -AllSections in validation workflow
  .github/workflows/docs-automation.yml
Owners: @agreaves-ms, @WilliamBerryiii

debug(build): add timestamp detection logging to sidebar validation
  .github/workflows/docs-automation.yml
Owners: @agreaves-ms, @WilliamBerryiii

chore(docs): remove timestamps from generated sidebar files
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/home-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/praxisworx-sidebar.md
  docs/_sidebar.md
  scripts/Generate-DocsSidebar.ps1
Owners: @WilliamBerryiii, @auyidi1, @EliiseS, @katriendg, @agreaves-ms, @azurecloudkevin

fix(scripts): strip PowerShell provider prefix in Build-ComponentsSidebar
  docs/_parts/blueprints-sidebar.md
  docs/_sidebar.md
  scripts/Generate-DocsSidebar.ps1
Owners: @WilliamBerryiii, @auyidi1, @EliiseS, @katriendg, @agreaves-ms, @azurecloudkevin

fix(scripts): add explicit exit 0 to GitHub Actions sidebar validation
  .github/workflows/docs-automation.yml
  scripts/Generate-DocsSidebar.ps1
Owners: @agreaves-ms, @WilliamBerryiii, @katriendg, @azurecloudkevin

fix(build): disable terraform variable compliance build failure
  .github/workflows/pr-validation.yml
Owners: @agreaves-ms, @WilliamBerryiii

refactor(build): consolidate workflow inputs for GitHub 10-input limit (#63)
  .github/workflows/application-matrix-builds.yml
  .github/workflows/docs-automation-commenter.yml
  .github/workflows/docs-automation.yml
  .github/workflows/main.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-comprehensive.yml
  .github/workflows/security-deployment.yml
  .github/workflows/security-pr.yml
  .github/workflows/security-staleness-check.yml
  .gitleaks.toml
  .grype.yaml
  blueprints/azureml/README.md
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/home-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/praxisworx-sidebar.md
  docs/_sidebar.md
  package-lock.json
  package.json
  scripts/Generate-DocsSidebar.ps1
  scripts/security/Monitor-EgressTraffic.ps1
  scripts/tag-rust-components.sh
  scripts/update-versions-in-gitops.sh
  src/500-application/506-ros2-connector/services/requirements.txt
Owners: @agreaves-ms, @WilliamBerryiii, @katriendg, @bindsi, @auyidi1, @EliiseS, @azurecloudkevin, @nguyena2

refactor(build): consolidate workflow inputs for GitHub 10-input limit (#63)
  .github/workflows/application-matrix-builds.yml
  .github/workflows/docs-automation-commenter.yml
  .github/workflows/docs-automation.yml
  .github/workflows/main.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-comprehensive.yml
  .github/workflows/security-deployment.yml
  .github/workflows/security-pr.yml
  .github/workflows/security-staleness-check.yml
  .gitleaks.toml
  .grype.yaml
  blueprints/azureml/README.md
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/home-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/praxisworx-sidebar.md
  docs/_sidebar.md
  package-lock.json
  package.json
  scripts/Generate-DocsSidebar.ps1
  scripts/security/Monitor-EgressTraffic.ps1
  scripts/tag-rust-components.sh
  scripts/update-versions-in-gitops.sh
  src/500-application/506-ros2-connector/services/requirements.txt
Owners: @agreaves-ms, @WilliamBerryiii, @katriendg, @bindsi, @auyidi1, @EliiseS, @azurecloudkevin, @nguyena2

fix(build): resolve npm vulnerabilities and sidebar generation
  .github/workflows/pr-validation.yml
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/learning-sidebar.md
  docs/_server/package-lock.json
  docs/_server/package.json
  docs/_sidebar.md
  docs/assets/js/package-lock.json
  package-lock.json
  package.json
  scripts/Generate-DocsSidebar.ps1
Owners: @agreaves-ms, @WilliamBerryiii, @auyidi1, @EliiseS, @katriendg, @bindsi, @azurecloudkevin

fix(build): resolve npm vulnerabilities and sidebar generation
  .github/workflows/pr-validation.yml
  docs/_parts/blueprints-sidebar.md
  docs/_parts/copilot-sidebar.md
  docs/_parts/docs-sidebar.md
  docs/_parts/infrastructure-sidebar.md
  docs/_parts/learning-sidebar.md
  docs/_server/package-lock.json
  docs/_server/package.json
  docs/_sidebar.md
  docs/assets/js/package-lock.json
  package-lock.json
  package.json
  scripts/Generate-DocsSidebar.ps1
Owners: @agreaves-ms, @WilliamBerryiii, @auyidi1, @EliiseS, @katriendg, @bindsi, @azurecloudkevin

.github/CODEOWNERS:

# GitHub CODEOWNERS - Simplified
# Based on actual repository structure and contributor analysis
# Last matching pattern takes precedence

# Default owners
* @WilliamBerryiii @agreaves-ms @katriendg @bindsi

# Core infrastructure components
src/ @WilliamBerryiii @agreaves-ms @bindsi @katriendg

# Cloud infrastructure
src/000-cloud/ @bindsi @katriendg @agreaves-ms

# Edge and IoT components
src/100-edge/ @nguyena2 @bindsi @agreaves-ms

# Applications
src/500-application/ @nguyena2 @agreaves-ms

# Deployment blueprints
blueprints/ @bindsi @agreaves-ms

# Microsoft Fabric
blueprints/fabric/ @agreaves-ms @bindsi
blueprints/fabric-rti/ @agreaves-ms @bindsi
src/000-cloud/031-fabric/ @agreaves-ms @bindsi
src/000-cloud/032-fabric-rti/ @agreaves-ms @bindsi

# Documentation
docs/ @WilliamBerryiii @auyidi1 @EliiseS
README.md @WilliamBerryiii @agreaves-ms
learning/ @WilliamBerryiii

# Scripts and automation
scripts/ @WilliamBerryiii @katriendg @agreaves-ms @azurecloudkevin

# CI/CD and workflows
.github/ @agreaves-ms @WilliamBerryiii
azure-pipelines.yml @WilliamBerryiii @bindsi @agreaves-ms
.azdo/ @WilliamBerryiii @bindsi @agreaves-ms

# Development environment
.devcontainer/ @agreaves-ms @WilliamBerryiii

# AI and prompts
copilot/ @agreaves-ms @katriendg @WilliamBerryiii
.github/instructions/ @agreaves-ms @druttka
.github/prompts/ @agreaves-ms @WilliamBerryiii

# Security
SECURITY.md @EliiseS @agreaves-ms
project-security-plans/ @EliiseS @agreaves-ms

# Infrastructure as Code
*.tf @agreaves-ms @bindsi @katriendg @azurecloudkevin
*.bicep @katriendg @agreaves-ms @bindsi
bicepconfig.json @katriendg @agreaves-ms
